
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 0 140px 0 140px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: space-between;
}

.header div {
    flex: inherit;
    padding: 16px;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 14px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}