
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    padding: 20px 10% 0 10%;
    /*display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;*/
}

main {
    margin: 0;
}

section {
    padding: 0 10% 0 10%;
    margin: 20px 0 36px 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    width: 100%;
    flex: 0 0 auto;
    margin: 36px 0 36px 0;
}

a {
    flex: inherit;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 6px 24px 6px 24px;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    padding: 20px;
    margin: 0 36px 0 36px;
}

header div {
    width: 49%;
    display: inline-block;
    padding-bottom: 80px;
    margin: 0;
}

header .secondtext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-right: 12px;
}

.cardcontainer img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.cardcontainer p {
    margin: 2px;
}

.quote p {
    font-weight: bolder;
    text-align: end;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.horizontallist {
    display: -webkit-box;
    display: -webkit-flex;
    display: inline-flex;
    flex-flow: row no-wrap;
    align-items: center;
    justify-content: space-between;
}

.placeholder {
    width: 100%;
    height: 205px;
    color: #F9FAF8;
    background-color: grey;
    border: none;
    text-align: center;
}

.cardcontainer {
    color: #1F2937;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
    text-align: center;
    margin-bottom: 72px;
}

.card {
    color: darkgrey;
    width: 155px;
    flex: 0 0 auto;
}

.quote {
    color: #1F2937;
    background-color: #E5E7EB;
    padding-top: 72px;
    padding-bottom: 72px;
}